<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Clicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Clicker.Properties.Settings>
            <setting name="BrowserSizeX" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="BrowserSizeY" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="UseMobileBrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BrowserName" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeToWaitNextPageMin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="timeToWaitNextPageMax" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="timeToWaitRecaptcha" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="timeToWaitSiteAndElement" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="searcher" serializeAs="String">
                <value>google</value>
            </setting>
            <setting name="googleEnd" serializeAs="String">
                <value>.ru</value>
            </setting>
            <setting name="yandexEnd" serializeAs="String">
                <value>.ru</value>
            </setting>
            <setting name="duckduckgoEnd" serializeAs="String">
                <value>.ru</value>
            </setting>
            <setting name="gotoPageAndGoNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gotoPageAndWait" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gotoPageAndStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useCookie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useJS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveFileLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveScreenLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chromeBinaryPath" serializeAs="String">
                <value>C:\Users\Алексей\AppData\Local\Epic Privacy Browser\Application\epic.exe</value>
            </setting>
            <setting name="extensionPath" serializeAs="String">
                <value>C:\Users\Алексей\AppData\Local\Epic Privacy Browser\Application\91.0.4472.124\default_apps</value>
            </setting>
            <setting name="useAllSite" serializeAs="String">
                <value>True</value>
            </setting>
        </Clicker.Properties.Settings>
    </userSettings>
</configuration>
